name: CI

on:
  push:
  pull_request:

jobs:
  prebuild:
    strategy:
      matrix:
        include:
          - runner: macos-13
            arch: x64
          - runner: macos-14
            arch: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          check-latest: true
      - name: Install deps
        run: npm ci
      - name: Build prebuilds
        run: npm run build:prebuild
      - name: Upload prebuilds
        uses: actions/upload-artifact@v4
        with:
          name: prebuilds-${{ matrix.arch }}
          path: prebuilds/

